

<div id="fullpage" style="border-bottom: 1px solid #e2e2e2;">


	<div class="section" id="section0">
		<div class="boxtwo">
			<div class="textbox">
				<p>Problem.</p>
				<h2>Solution.</h2>


				<div class="download" style="margin-left:15px;">
					<a href="#" class="downloadbutton">Order Now!</a>
				</div>
				<div class="learnmore">
					<a href="#secondPage" data-menuanchor="secondPage" class="learnmorebutton">Learn More</a>
				</div>

			</div>

		</div>


	</div>

	</div>

	<div>
     <!-- PRICE TABLE -->
       <div class="welcome-bg">
       	<div class="row">
                        <div class="col-lg-3 steps">
						<img src="imgs/pick-a-plan.svg" alt="Generic placeholder image" style="width:200px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">1. Choose a Plan</h2>
   					    </div><!-- /.col-lg-4 -->

					    <div class="col-lg-3 steps">
						<img src="imgs/prep.svg" alt="Generic placeholder image" style="width:200px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">2. We Prep</h2>
					    </div><!-- /.col-lg-4 -->

                        <div class="col-lg-3 steps">
						<img src="imgs/delivery.svg" alt="Generic placeholder image" style="width:200px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">3. We Deliver</h2>
					    </div><!-- /.col-lg-4 -->

                        <div class="col-lg-3 steps">
						<img src="imgs/reheat.svg" alt="Generic placeholder image" style="width:200px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">4. Heat & Enjoy</h2>
					    </div><!-- /.col-lg-4 -->

				</div><!-- /.row -->
       </div>


      	 <div id="cbp-so-scroller" class="cbp-so-scroller">
      	 	<section class="cbp-so-section">
      	 		<figure class="cbp-so-side cbp-so-side-left">
      	 			<img src="imgs/plate1.png" style="margin-top: -45px; alt="img01">
      	 		</figure>
      	 		<article class="cbp-so-side cbp-so-side-right">
      	 			<h2 class="top"><b>Macros.</b> Just the right amount.</h2>
      	 			<p class="top">Each meal we prepare is made with a specific person in mind. If there are 50 steaks on the grill, we know which one is yours. We measure each meal down to a 1/100 of a gram, allowing our clients to relax and rest assured that they are receiving the proper amount of nutrients daily.

      	 		</article>

      	 	</section>
      	 	<section class="cbp-so-section">


      	 		<article class="cbp-so-side cbp-so-side-left">
      	 			<h2><b>Fresh.</b> In every way.</h2>
      	 			<p class="bottom">Save time and trips to the bank, make deposits from the convenience of your office with our Remote Deposit Service.

      	 		</article>
	  	 		<figure class="cbp-so-side cbp-so-side-right">
      	 			<img src="imgs/fresh1.png" alt="img01">
      	 		</figure>
      	 	</section>

      	 </div>

    <div class="section" style="margin-top:-40px;border-top:1px solid #eaeaea;background-color: #fafafa;">
        <div class="textbox">
            <h2 class="heading">Plans</h2>
        </div>
		<div class="boxthree">

             <div class="products-box">
				<div class="row">
					<a href="" style="display: block;">
                        <div class="col-lg-4 producto">
						<img src="imgs/traditional.svg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">Traditional</h2>
                        <hr>
						<p>Donec sed odio dui. Vehicula ut id elit. Morbi leo risus.</p>
                        <hr>
						<p><a class="btn btn-default" href="#" role="button">View Prices &raquo;</a></p>
					    </div><!-- /.col-lg-4 -->
					</a>
                    <a href="" style="display: block;">
					    <div class="col-lg-4 producto">
						<img src="imgs/high-protein.svg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">High Protein</h2>
                        <hr>
						<p>Donec sed odio dui. Vehicula ut id elit. Morbi leo risus.</p>
						<hr>
						<p><a class="btn btn-default" href="#" role="button">View Prices &raquo;</a></p>
					    </div><!-- /.col-lg-4 -->
                    </a>
                    <a href="" style="display: block;">
                        <div class="col-lg-4 producto">
						<img src="imgs/high-carb.svg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
						<h2 class="top-spacer-small subtract-bottom">Low Carb</h2>
                        <hr>
						<p>Donec sed odio dui. Vehicula ut id elit. Morbi leo risus.</p>
						<hr>
						<p><a class="btn btn-default" href="#" role="button">View Prices &raquo;</a></p>
					    </div><!-- /.col-lg-4 -->
                    </a>
				</div><!-- /.row -->


                </div>

		</div>

	</div>

</div>